@page
@model Licent_Ihut_Alexandra.Pages.SaliEvenimente.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalaEveniment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Nume" class="control-label"></label>
                <input asp-for="SalaEveniment.Nume" class="form-control" />
                <span asp-validation-for="SalaEveniment.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Judet" class="control-label"></label>
                <input asp-for="SalaEveniment.Judet" class="form-control" />
                <span asp-validation-for="SalaEveniment.Judet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Localitate" class="control-label"></label>
                <input asp-for="SalaEveniment.Localitate" class="form-control" />
                <span asp-validation-for="SalaEveniment.Localitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Imagine" class="control-label"></label>
                <input asp-for="SalaEveniment.Imagine" class="form-control" />
                <span asp-validation-for="SalaEveniment.Imagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Capacitate" class="control-label"></label>
                <input asp-for="SalaEveniment.Capacitate" class="form-control" />
                <span asp-validation-for="SalaEveniment.Capacitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Telefon" class="control-label"></label>
                <input asp-for="SalaEveniment.Telefon" class="form-control" />
                <span asp-validation-for="SalaEveniment.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Email" class="control-label"></label>
                <input asp-for="SalaEveniment.Email" class="form-control" />
                <span asp-validation-for="SalaEveniment.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Descriere" class="control-label"></label>
                <input asp-for="SalaEveniment.Descriere" class="form-control" />
                <span asp-validation-for="SalaEveniment.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
