@page
@model Licent_Ihut_Alexandra.Pages.SaliEvenimente.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: moccasin ;font-style:italic ">Aici poți să îți editezi propria ta afacere.  </h1>

<h4 style="color: black"> Sală de evenimente </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalaEveniment.ID" />
            <div class="form-group">
                <label asp-for="SalaEveniment.Nume" class="control-label"></label>
                <input asp-for="SalaEveniment.Nume" class="form-control" />
                <span asp-validation-for="SalaEveniment.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="SalaEveniment.Judet" class="control-label"></label>
                <input asp-for="SalaEveniment.Judet" class="form-control" />
                <span asp-validation-for="SalaEveniment.Judet" class="text-danger"></span>*@
                <label asp-for="SalaEveniment.JudetID" class="control-label">Judet</label>
                <select asp-for="SalaEveniment.JudetID" class="form-control" asp-items="ViewBag.JudetID"> </select>
                <span asp-validation-for="SalaEveniment.JudetID" class="text-danger"></span>
              
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.LocalitateID" class="control-label">Adresă</label>
                <select asp-for="SalaEveniment.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID"> </select>
               @* <input asp-for="SalaEveniment.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID" />*@
                <span asp-validation-for="SalaEveniment.LocalitateID" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="SalaEveniment.FisierImagine" class="control-label"></label>
                <img src="data:image/jpg;base64 , @item.SalaEveniment.FisierImagine" width="140px" height="140px" onclick="openPopup(item)" />
                <input asp-for="SalaEveniment.FisierImagine" class="form-control" />
                <span asp-validation-for="SalaEveniment.FisierImagine" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="SalaEveniment.FisierImagine" class="control-label"></label>
                <input asp-for="SalaEveniment.FisierImagine" class="form-control" />
                <span asp-validation-for="SalaEveniment.FisierImagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Capacitate" class="control-label"></label>
                <input asp-for="SalaEveniment.Capacitate" class="form-control" />
                <span asp-validation-for="SalaEveniment.Capacitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Telefon" class="control-label"></label>
                <input asp-for="SalaEveniment.Telefon" class="form-control" />
                <span asp-validation-for="SalaEveniment.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Email" class="control-label"></label>
                <input asp-for="SalaEveniment.Email" class="form-control" />
                <span asp-validation-for="SalaEveniment.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaEveniment.Descriere" class="control-label"></label>
                <input asp-for="SalaEveniment.Descriere" class="form-control" />
                <span asp-validation-for="SalaEveniment.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="color: peru; background-color: black ; border-color: black; text-decoration: none"  type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" style="color: peru;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
   @* <a asp-page="./Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
