@page
@model Licent_Ihut_Alexandra.Pages.MaterialePirotehnice.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Aici poți să îți editezi propria ta afacere.  </h1>

<h4 style="color: black"> Materiale pirotehnice </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaterialPirotehnic.ID" />
            <div class="form-group">
                <label asp-for="MaterialPirotehnic.Nume" class="control-label"></label>
                <input asp-for="MaterialPirotehnic.Nume" class="form-control" />
                <span asp-validation-for="MaterialPirotehnic.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPirotehnic.JudetID" class="control-label">Județ</label>
                <select asp-for="MaterialPirotehnic.JudetID" class="form-control" asp-items="ViewBag.JudetID"></select>
                <span asp-validation-for="MaterialPirotehnic.JudetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPirotehnic.LocalitateID" class="control-label">Adresă</label>
                <select asp-for="MaterialPirotehnic.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID"></select>
                <span asp-validation-for="MaterialPirotehnic.LocalitateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPirotehnic.Telefon" class="control-label"></label>
                <input asp-for="MaterialPirotehnic.Telefon" class="form-control" />
                <span asp-validation-for="MaterialPirotehnic.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPirotehnic.Email" class="control-label"></label>
                <input asp-for="MaterialPirotehnic.Email" class="form-control" />
                <span asp-validation-for="MaterialPirotehnic.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPirotehnic.Descriere" class="control-label"></label>
                <input asp-for="MaterialPirotehnic.Descriere" class="form-control" />
                <span asp-validation-for="MaterialPirotehnic.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
