@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Accesul interzis</h1>
    <p class="text-danger">Accesul este restricționat.</p>
</header>
