@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmare înregistrare";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   <a id="confirm-link" href="@Model.EmailConfirmationUrl">Apasă aici pentru a confirma</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

