@page
@model Licent_Ihut_Alexandra.Pages.Prajituri.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: #66A1A8 ;font-style:italic; text-align:center ">Aici poți să îți editezi propria ta afacere.  </h1>


<hr />
<div class="row" style="margin:50px">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Prajitura.ID" />
            <div class="form-group">
                <label asp-for="Prajitura.Nume" class="control-label"></label>
                <input asp-for="Prajitura.Nume" class="form-control" />
                <span asp-validation-for="Prajitura.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.JudetID" class="control-label">Județ</label>
                <select asp-for="Prajitura.JudetID" class="form-control" asp-items="ViewBag.JudetID"></select>
                <span asp-validation-for="Prajitura.JudetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.LocalitateID" class="control-label">Adreă</label>
                <select asp-for="Prajitura.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID"></select>
                <span asp-validation-for="Prajitura.LocalitateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.FisierImagine" class="control-label"></label>
                <input asp-for="Prajitura.FisierImagine" class="form-control" />
                <span asp-validation-for="Prajitura.FisierImagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.Creme" class="control-label"></label>
                <input asp-for="Prajitura.Creme" class="form-control" />
                <span asp-validation-for="Prajitura.Creme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.Feluri" class="control-label"></label>
                <input asp-for="Prajitura.Feluri" class="form-control" />
                <span asp-validation-for="Prajitura.Feluri" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Prajitura.Figurine" class="control-label"></label>
                <input asp-for="Prajitura.Figurine" class="form-control" />
                <span asp-validation-for="Prajitura.Figurine" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Prajitura.Figurine" class="control-label">Se realizeaza figurine?</label>
                @*<input asp-for="Prajitura.Figurine" class="form-control" />*@
                @foreach (var figurina in Model.Figurine)
                {
                    <input type="radio" asp-for="Prajitura.Figurina" value="@figurina" />

                    @figurina

                    <br />
                }
                @*<asp: RadioButtonList ID="rblLocations" ="server" RepeatDirection="Horizontal">
                <asp: ListItem>DC</asp: ListItem>
                <asp: ListItem>Atlanta</asp: ListItem>
                </asp: RadioButtonList>*@
                @* <input type="submit"/>*@
                <span asp-validation-for="Prajitura.Figurine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.Telefon" class="control-label"></label>
                <input asp-for="Prajitura.Telefon" class="form-control" />
                <span asp-validation-for="Prajitura.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.Descriere" class="control-label"></label>
                <input asp-for="Prajitura.Descriere" class="form-control" />
                <span asp-validation-for="Prajitura.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.MembruID" class="control-label">Nume membru</label>
                <select asp-for="Prajitura.MembruID" class="form-control" asp-items="ViewBag.MembruID"> </select>
                <span asp-validation-for="Prajitura.MembruID" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Salvează" class="btn btn-primary" />
            </div>
            <div>
                <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
