@page
@model Licent_Ihut_Alexandra.Pages.Sonorizari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: #66A1A8 ;font-style:italic ; text-align: center">Aici poți să îți editezi propria ta afacere.  </h1>

<h4 style="color: black ;text-align: center"> Sonorizare </h4>
<hr />
<div class="row" style=" margin: 30px">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sonorizare.ID" />
            <div class="form-group">
                <label asp-for="Sonorizare.Nume" class="control-label"></label>
                <input asp-for="Sonorizare.Nume" class="form-control" />
                <span asp-validation-for="Sonorizare.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sonorizare.Numar" class="control-label"></label>
                <input asp-for="Sonorizare.Numar" class="form-control" />
                <span asp-validation-for="Sonorizare.Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sonorizare.Descriere" class="control-label"></label>
                <input asp-for="Sonorizare.Descriere" class="form-control" />
                <span asp-validation-for="Sonorizare.Descriere" class="text-danger"></span>
            </div>
             <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{ <p>Genuri muzicale interpretate</p>
                                int cnt = 0;
                                foreach (var cat in Model.GenMuzicalAsignatList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr>  <tr>
                                    }
                                    @:<td>
                                   
                                        <input type="checkbox"
                                               name="selectedGenuriMuzicale"
                                               value="@cat.GenMuzicalID"
                                               @(Html.Raw(cat.Asignat ?
                                                   "checked=\"checked\"" : "")) />
                                         @cat.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

            <div class="form-group">
               @* <input type="submit" value="Save" class="btn btn-primary" />*@
                <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none"  type="submit" value="Salvează" class="btn btn-primary" />
                 <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
            </div>
        </form>
    </div>
</div>

<div>
    
  @*  <a asp-page="./Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
