@page
@model Licent_Ihut_Alexandra.Pages.Sonorizari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sonorizare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sonorizare.ID" />
            <div class="form-group">
                <label asp-for="Sonorizare.Nume" class="control-label"></label>
                <input asp-for="Sonorizare.Nume" class="form-control" />
                <span asp-validation-for="Sonorizare.Nume" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Sonorizare.GenMuzical" class="control-label"></label>
                <input asp-for="Sonorizare.GenMuzical" class="form-control" />
                <span asp-validation-for="Sonorizare.GenMuzical" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Sonorizare.Numar" class="control-label"></label>
                <input asp-for="Sonorizare.Numar" class="form-control" />
                <span asp-validation-for="Sonorizare.Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sonorizare.Descriere" class="control-label"></label>
                <input asp-for="Sonorizare.Descriere" class="form-control" />
                <span asp-validation-for="Sonorizare.Descriere" class="text-danger"></span>
            </div>
             <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.GenMuzicalAsignatList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedGenuriMuzicale"
                                               value="@cat.GenMuzicalID"
                                               @(Html.Raw(cat.Asignat ? "checked=\"checked\"" : "")) />
                                        @cat.GenMuzicalID @: @cat.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
