@page
@model Licent_Ihut_Alexandra.Pages.Hostess.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Aici poți să îți editezi propria ta afacere.  </h1>

<h4 style="color: black"> Hostess </h4>
<hr />
<div class="row">
    <div class="col-md-4" >
        <form method="post" >   @*enctype="multipart/form-data"*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hostes.ID" />
            <div class="form-group">
                <label asp-for="Hostes.Nume" class="control-label"></label>
                <input asp-for="Hostes.Nume" class="form-control" />
                <span asp-validation-for="Hostes.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hostes.JudetID" class="control-label">Județ</label>
                <select asp-for="Hostes.JudetID" class="form-control" asp-items="ViewBag.JudetID"></select>
                <span asp-validation-for="Hostes.JudetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hostes.LocalitateID" class="control-label">Adresă</label>
                <select asp-for="Hostes.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID"></select>
                <span asp-validation-for="Hostes.LocalitateID" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Hostes.FisierImagine" class="control-label"></label>
                <input asp-for="Hostes.FisierImagine" class="form-control" />
                <span asp-validation-for="Hostes.FisierImagine" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="Hostes.Culori" class="control-label"></label>
                <input asp-for="Hostes.Culori" class="form-control" />
                <span asp-validation-for="Hostes.Culori" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{<p>Culori disponibile pentru rochite</p>
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCuloareDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCulori"
                                               value="@cat.CuloareID"
                                               @(Html.Raw(cat.Assigned ?
                                                   "checked=\"checked\"" : "")) />
                                         @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="Hostes.Telefon" class="control-label"></label>
                <input asp-for="Hostes.Telefon" class="form-control" />
                <span asp-validation-for="Hostes.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hostes.Email" class="control-label"></label>
                <input asp-for="Hostes.Email" class="form-control" />
                <span asp-validation-for="Hostes.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hostes.Descriere" class="control-label"></label>
                <input asp-for="Hostes.Descriere" class="form-control" />
                <span asp-validation-for="Hostes.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none"  type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
