@page
@model Licent_Ihut_Alexandra.Pages.Fotografi.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: #66A1A8 ;font-style:italic ; text-align: center">Aici poți să îți editezi propria ta afacere.  </h1>

<h4 style="color: black ; text-align: center"> Fotografi/Cameramani </h4>
<hr />
<div class="row" style=" margin: 30px">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fotograf.ID" />
            <div class="form-group">
                <label asp-for="Fotograf.Nume" class="control-label"></label>
                <input asp-for="Fotograf.Nume" class="form-control" />
                <span asp-validation-for="Fotograf.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.JudetID" class="control-label">Județ</label>
                <select asp-for="Fotograf.JudetID" class="form-control" asp-items="ViewBag.JudetID"></select>
                <span asp-validation-for="Fotograf.JudetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.LocalitateID" class="control-label">Adresă</label>
                <select asp-for="Fotograf.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID"></select>
                <span asp-validation-for="Fotograf.LocalitateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.FisierImagine" class="control-label"></label>
                <input asp-for="Fotograf.FisierImagine" class="form-control" />
                <span asp-validation-for="Fotograf.FisierImagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.Telefon" class="control-label"></label>
                <input asp-for="Fotograf.Telefon" class="form-control" />
                <span asp-validation-for="Fotograf.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.Email" class="control-label"></label>
                <input asp-for="Fotograf.Email" class="form-control" />
                <span asp-validation-for="Fotograf.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.Descriere" class="control-label"></label>
                <input asp-for="Fotograf.Descriere" class="form-control" />
                <span asp-validation-for="Fotograf.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotograf.MembruID" class="control-label">Nume membru</label>
                <select asp-for="Fotograf.MembruID" class="form-control" asp-items="ViewBag.MembruID"> </select>

                <span asp-validation-for="Fotograf.MembruID" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Salvează" class="btn btn-primary" />
            </div>
            <div>
                <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
