@page
@model Licent_Ihut_Alexandra.Pages.DespreModel
@{
    ViewData["Title"] = "Despre noi";
}

@*<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <style>
        .titlu {
            color: black;
            text-align: center;
            font-family: Garamond, serif;
            font-style: italic;
            font-weight: bold;
            position: relative;
        }

        p {
            color: black;
            text-align: left;
            font-family: 'Kaushan Script';
            font-size: 18px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-style: normal;
            font-variant: normal;
            font-style: italic;
        }

        m {
            color: black;
            text-align: left;
            font-family: 'Kaushan Script';
            font-size: 25px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-style: normal;
            font-variant: normal;
            font-style: italic;
        }

        body {
            background-color: #66A1A8;
        }

        .right {
            margin-left: auto;
            width: 50%;
            height: 60%;
        }

    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="titlu" text-aling="left" class="left">
            <br />

            Cererea și oferta își dau întâlnire la noi pe platformă!
            <br />
        </h1>
        </br>
       
        <p> Am creat această pltformă cu scopul de a oferi UN MEDIU FACIL DE PROMOVARE A SERVICIILOR  din domeniul organizărilor de evenimente
             și totodată UN LOC ÎN CARE CLIENȚII SĂ AIBĂ ACECES MAI UȘOR LA ANUMITE SERVICII  </p>
             </br>
        <p>
            I. Avem grijă de prestatorii de servicii necesare organizării unui eveniment. 
            Le punem la dispoziție platforma noastră. Aici ei se pot loga și pot să  âși promoveze propria afacere.
        </p>
        </br>
        <p>
            II. Pionii importanți ai acestei aplicații sunt clienții, care dacă se înregistrează pe aceasă platformă au acces mai usor despre anumite servicii de interes.
            Serviciilor li se por adăuga o serie de filtre care să ușureze căutările.
        </p>

       
    </div>

</body>
</html>*@

<html
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title> An About Us Page | CoderGirl </title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="style.css">
    <style>
   
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #66A1A8 ;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.contact{
  font-size: 18px;
  background: #000;
  color: #66A1A8 ;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.contact:hover{
  background: #fff ;
  border: 1px solid #66A1A8;
}


</style>
</head>
<body>
    <section class="about-us">
        <div class="about">
            <img src="~/img/about.jpg" class="pic">
            <div class="text">
                <h2>Despre...</h2>
                <h5>Promovează-ți afacerea & <span> Caută servicii</span></h5>
                <p>Această aplicație web a fost creată cu scopul de a realiza o pârghie de legătură între cerere și ofertă. În cadrul aplicației se pot promova servicii sau se pot viziona ofertele deja publicate. Conținutul nostru se potrivește de minune pentru cei care doresc să organizeze un eveniment.</p>
                <div class="data">
                    <a asp-page="Contact" class="contact">Contactează-ne!</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

