@page
@model Licent_Ihut_Alexandra.Pages.DespreModel
@{
    ViewData["Title"] = "Despre noi";
}
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <style>
        .titlu {
            color: black;
            text-align: center;
            font-family: Garamond, serif;
            font-style: italic;
            font-weight: bold;
            position: relative;
        }

        p {
            color: black;
            text-align: left;
            font-family: 'Kaushan Script';
            font-size: 18px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-style: normal;
            font-variant: normal;
            font-style: italic;
        }

        m {
            color: black;
            text-align: left;
            font-family: 'Kaushan Script';
            font-size: 25px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-style: normal;
            font-variant: normal;
            font-style: italic;
        }

        body {
            background-color: peru;
        }

        .right {
            margin-left: auto;
            width: 50%;
            height: 60%;
        }

    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="titlu" text-aling="left" class="left">
            <br />

            Cererea și oferta își dau întâlnire la noi pe platformă!
            <br />
        </h1>
        </br>
       
        <p> Am creat această pltformă cu scopul de a oferi UN MEDIU FACIL DE PROMOVARE A SERVICIILOR  din domeniul organizărilor de evenimente
             și totodată UN LOC ÎN CARE CLIENȚII SĂ AIBĂ ACECES MAI UȘOR LA ANUMITE SERVICII  </p>
             </br>
        <p>
            I. Avem grijă de prestatorii de servicii necesare organizării unui eveniment. 
            Le punem la dispoziție platforma noastră. Aici ei se pot loga și pot să  âși promoveze propria afacere.
        </p>
        </br>
        <p>
            II. Pionii importanți ai acestei aplicații sunt clienții, care dacă se înregistrează pe aceasă platformă au acces mai usor despre anumite servicii de interes.
            Serviciilor li se por adăuga o serie de filtre care să ușureze căutările.
        </p>

       
    </div>

</body>
</html>